<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KamalovEntities" connectionString="metadata=res://*/KamalovModel.csdl|res://*/KamalovModel.ssdl|res://*/KamalovModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-9\SQLEXPRESS01;initial catalog=41razmer_kamalov;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>